.App {
  text-align: center;
}
.appLinks{
  font-weight: bold;
  color: floralwhite;
  display:flex;
  justify-content: space-between;
  background: rgba(0,0,0,0.5);
  height: 30px;
  padding: 15px;
  margin: 10px;
  
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

body {
 background-image: url("./images/background-2.jpg");
 background-size: cover; 
 background-repeat: no-repeat;
 background-color: black;
}

h1, h3, h4 {
  color:floralwhite;
  margin: 10px
}

a {
  color: floralwhite;
}
img{
  /* background: rgba(0,0,0,0.3);
  border: 1px solid black; */
  margin-top: 30px;
  padding: 10px;
  width: 175px;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*Character Sheet*/
.character-container{
  border: 2px solid white;
  color: floralwhite;
  margin: auto;
  max-width: 800px;
}
.saved-character-container{
  border-bottom: 1px solid black;
  padding: 10px;
}
.character-card-title{
  border-right: 1px solid white;
  margin-left: 10px;
  font-weight: bolder;
  font-size: 1.2em;
}
.character-card{
  padding: 5px;
  background: rgba(0,0,0,0.2);
  max-width: auto;
}
.skills-container{
  display: flex;
  width: auto;
  background: rgba(0,0,0,0.2);
  border-top: 1px solid black;
}
.text-label, .input-label {
  margin-left: 10px;
  margin-top: 5px;
  font-weight: bold;
}
.powers-container{
  display: flex;
  border-top: 1px solid black;
  background: rgba(0,0,0,0.2);
}
.attributes-container{
  display:flex;
  background: rgba(0,0,0,0.2);
}
.attributes-section{
  background: rgba(0,0,0,0.2);
  border-right: 1px solid black;
}
.left-column{
  border: 1px solid blue;
  max-width: 450px;
}
.right-column{
  border: 1px solid orange;
}
.text-container{
  display:flex;
  flex-direction: column;
}
.character-image{
  border: 1px solid green;
}
.row{
  display: flex;
}
.checkbox-group {
  margin-left: 10px;
  background: rgba(0,0,0,0.2);
}
.form-checkbox {
  margin-left: 5px;
}
.form-input, .text-area {
  background: rgba(255,255,255,0.6);
  padding: 5px;
  margin: 10px;
  font-weight: bold;
  border: none;
  outline: none;
  color: #333;
  -webkit-box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
  box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
}
::-webkit-input-placeholder { color: #666;} 
:-moz-placeholder { color: #666; }
::-moz-placeholder { color: #666; }
:-ms-input-placeholder { color: #666; }

/*Chart Table*/
.chart-table{
  margin: auto;
  max-width: 900px;
  padding: 4px;
  border: 1px solid black;
  color:rgba(255, 255, 255, 0.952);
  text-align: center;
}

.cCover{
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/*Top row headers*/
.chTitles{
  padding: 1px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.9);
}
.chSymbols{
 padding: 1px;
}
.chNumbers{
  font-size: .80em;
}
.c2c, .c3c, .c4c, .c5c, .c6c, .c7c, .c8c, .c9c, .c10c, .c11c, .c12c,.rH{
  color:floralwhite;
  font-size: .70em;
  width: 100%;
  height: 15px;
  padding: 1px;
  font-weight: bold;
}

.cg80{
  color: black;
  background-color: #99ff99;
}
.cg70{
  color: black;
  background-color: #66ff66;
}
.cg60{
  color: black;
  background-color: #33ff33;
}
.cg50{
  color: black;
  background-color: #00ff00;
}
.cg40{
  color: black;
  background-color: #00cc00;
}
.cg30{
  color: black;
  background-color: #009900;
}
.cg{
  color: black;
  background-color: green;
}
.cycc{
  color: black;
  background-color: #ffffcc;
}
.cy90{
  color: black;
  background-color: #ffff99;
}
.cy60{
  color: black;
  background-color: #ffff66;
}
.cy30{
  color: black;
  background-color: #ffff33;
}
.cy{
  color: black;
  background-color: #ffff00;
}
.cr80{
  color: black;
  background-color: #ff9999;
}
.cr70{
  color: black;
  background-color: #ff6666;
}
.cr60{
  color: black;
  background-color: #ff3333;
}
.cr{
  color: black;
  background-color: red;
}

/*homepage*/

.home-center-container{
  background-image: url("./images/superherostandingproud.jpg");
  border: 2px solid black;
  margin: auto;
  width: 800px;
  height: 532px;
}
.homePage {
  background: rgba(0,0,0,0.2);
  height: 732px;
}

.xo-statement{
  margin-top: 30px;
  background: rgba(0,0,0,0.6);
  color: floralwhite;
  font-weight: bold;
  padding: 10px;
  margin-right: auto;
  max-width: 500px;
}

/*Die Roller*/
.dice-roller-container {
  color: floralwhite;
  font-weight: bold;
  border: 1px solid black;
  background: rgba(0,0,0,0.2);
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
}

.dice-modifiers-container{
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  height: 350px;
}
.big-roll{
  width: 200px;
  height: 200px;
  margin-right: 40px;
  line-height: 150px;
  font-weight: bolder;
  font-size: 4em;
  border: 1px solid black;
  background: rgba(0,0,0,0.2);
  text-align: center;
}
.big-D100roll{
  width: 200px;
  height: 200px;
  line-height: 180px;
  font-weight: bolder;
  font-size: 4em;
  margin-right: 40px;
  border: 1px solid black;
  background: rgba(0,0,0,0.2);
  text-align: center;
}

.modifier-row{
  display:flex;
  justify-content: space-between;
}

.dice-titles {
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 1.2em;
}

.result-boxes {
  margin-top: 10px;
  margin-left: 11px;
  border: 1px solid black;
  background: rgba(0,0,0,0.2);
  text-align: center;
  width: 160px;
  height: 30px;
}

.modifier-box {
  margin-top: 10px;
  margin-left: 11px;
  border: 1px solid black;
  background: rgba(0,0,0,0.2);
  text-align: center;
  width: 80px;
  height: 30px;
}

.result-titles {
  margin-top: 20px;
  margin-left: 10px;
  font-weight: bold;
}


/*Episodes*/

.episodes-container, .rules-container {
  color: floralwhite;
  font-weight: bold;
  border: 1px solid black;
  margin: auto;
  max-width: 600px;
}

.episode-card, .rules-card {
  border: 1px solid black;
  background: rgba(0,0,0,0.5);
  font-size: .9em;
  margin: 10px;
  padding: 10px;
}
.episode-row, .rules-row{
  border-top: 1px solid white;
}
.episode-border, .rules-border{
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

/*Button*/
.myButton {
	-moz-box-shadow: 3px 4px 7px 1px #899599;
	-webkit-box-shadow: 3px 4px 7px 1px #899599;
	box-shadow: 3px 4px 7px 1px #899599;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #bab1ba));
	background:-moz-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-o-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#bab1ba',GradientType=0);
	background-color:#ededed;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#3a8a9e;
	font-family:Arial;
  margin: 10px 10px 5px 10px;
	font-weight:bold;
	padding:9px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bab1ba), color-stop(1, #ededed));
	background:-moz-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:-o-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bab1ba', endColorstr='#ededed',GradientType=0);
	background-color:#bab1ba;
}
.myButton:active {
	position:relative;
	top:1px;
}
